/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Links */
a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body {
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  background: #222831;
  color: #eee;
  font-size: 16px;
}

a {
  color: #eee;
  -webkit-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
}
a:hover {
  color: #86c232;
}

.main {
  background: #222831;
  margin-bottom: 80px;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1140px;
}

.stopscroll {
  overflow: hidden;
}

.header {
  position: sticky;
  top: 0;
  z-index: 9;
  background: #222831;
}

.header__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
}

.header__btn {
  display: none;
  position: relative;
  width: 40px;
  height: 40px;
  z-index: 2;
}
@media screen and (max-width: 699px) {
  .header__btn {
    display: block;
  }
}

.header__btn span {
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: #eee;
  left: 5px;
  -webkit-transition: opacity 0.5s, background-color 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, background-color 0.5s, -webkit-transform 0.5s;
  transition: transform 0.5s, opacity 0.5s, background-color 0.5s;
  transition: transform 0.5s, opacity 0.5s, background-color 0.5s, -webkit-transform 0.5s;
}

.header__btn span:nth-child(1) {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.header__btn span:nth-child(3) {
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

.header__btn.open span:nth-child(1) {
  -webkit-transform: translateY(0) rotate(45deg);
          transform: translateY(0) rotate(45deg);
}

.header__btn.open span:nth-child(2) {
  opacity: 0;
}

.header__btn.open span:nth-child(3) {
  -webkit-transform: translateY(0) rotate(-45deg);
          transform: translateY(0) rotate(-45deg);
}

.logo {
  z-index: 9;
}

.logo__title {
  letter-spacing: -0.03em;
  font-weight: bold;
  font-size: 20px;
}

.logo__tagline {
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-size: 12px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}
@media screen and (max-width: 699px) {
  .menu {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    opacity: 0;
    padding: 90px 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background: #222831;
  }
  .menu.open {
    opacity: 1;
  }
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
@media screen and (max-width: 699px) {
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 699px) {
  .menu__link {
    font-size: 20px;
  }
}

.menu__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}
@media screen and (max-width: 699px) {
  .menu__social {
    gap: 20px;
  }
}

.menu__icon {
  fill: #eee;
}
.menu__icon svg {
  height: 100%;
}
@media screen and (max-width: 699px) {
  .menu__icon svg {
    width: 42px;
    height: 42px;
  }
}
.menu__icon:hover svg {
  fill: #86c232;
  -webkit-transition: fill 0.2s ease-in;
  transition: fill 0.2s ease-in;
}

.menu__icon--telegram {
  width: 100%;
  text-align: center;
}

.menu__icon--github {
  width: 100%;
  text-align: center;
}

.portfolio {
  position: relative;
  z-index: 1;
}

.portfolio__title {
  padding-bottom: 30px;
  font-weight: bold;
  font-size: 94px;
  text-indent: -6px;
  border-bottom: 2px solid #eee;
}
@media screen and (max-width: 699px) {
  .portfolio__title {
    font-size: 15vw;
    text-indent: -7px;
  }
}
@media screen and (max-width: 390px) {
  .portfolio__title {
    text-indent: -7px;
  }
}

.portfolio__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 90px;
  padding: 90px 0px;
}

.card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 350px;
  max-width: 100%;
  height: 300px;
  border-radius: 20px;
  border: 3px solid #86c232;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/* .portfolio .card:hover {
  height: 350px;
} */
.card__img {
  position: absolute;
  top: 20px;
  width: 300px;
  height: 220px;
  background: #333;
  border-radius: 12px;
  overflow: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
@media screen and (max-width: 390px) {
  .card__img {
    width: 90%;
  }
}

.card:hover .card__img {
  top: -100px;
  scale: 0.75;
  -webkit-box-shadow: 0 15px 45px rgba(0, 0, 0, 0.2);
          box-shadow: 0 15px 45px rgba(0, 0, 0, 0.2);
}

.card__img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.card__content {
  position: absolute;
  top: 252px;
  width: 100%;
  height: 35px;
  padding: 0 30px;
  text-align: center;
  overflow: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.card:hover .card__content {
  top: 130px;
  height: 165px;
}

.card__title {
  font-size: 1.3rem;
  font-weight: 700;
  color: #eee;
  font-style: italic;
}
@media screen and (max-width: 390px) {
  .card__title {
    font-size: 1.1rem;
  }
}

.card__description {
  color: #eee;
  padding-top: 20px;
}
@media screen and (max-width: 390px) {
  .card__description {
    font-size: 0.8rem;
  }
}

.card__btn {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 20px;
  padding-top: 20px;
}
@media screen and (max-width: 390px) {
  .card__btn {
    gap: 10px;
  }
}

.card__link svg {
  fill: #eee;
}

.card__link--github svg:hover {
  fill: #86c232;
  -webkit-transition: fill 0.25s ease-in-out;
  transition: fill 0.25s ease-in-out;
}

.card__link--look {
  color: #eee;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-style: italic;
  font-weight: bold;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}
.card__link--look:hover {
  color: #86c232;
}
@media screen and (max-width: 390px) {
  .card__link--look {
    font-size: 0.9rem;
  }
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px;
  z-index: -1;
  background: #86c232;
}

.footer__text {
  color: #eee;
}

.footer__link {
  text-decoration: underline !important;
}
.footer__link:hover {
  color: #eee;
  text-decoration: none !important;
}