* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

:root {
  --primary: #86c232;
  --dark: #222831;
  --pure: #eeeeee;
  --black: #000;
}

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  font-family: 'SF Pro Display', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
    'Arial', sans-serif;
  color: var(--pure);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--pure);
}

ul {
  list-style-position: inside;
}

nav {
  background: var(--dark);
  position: sticky;
  top: 0;
  z-index: 9;
}

.container {
  width: 1280px;
  max-width: 90%;
  margin: 0 auto;
}

.nav-wrapper {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 20px;
}

.social-icons {
  margin-left: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.social-icons a svg {
  fill: var(--pure);
}

@media (max-width: 749px) {
  .social-icons {
    margin-left: 0;
    padding-top: 20px;
  }
}

.social-icons a:hover svg path {
  fill: var(--primary);
  transition: fill 0.3s ease-in-out;
}

.nav-wrapper ul.nav-list {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.nav-wrapper ul.nav-list li {
  margin-left: 30px;
  padding: 20px 0;
  position: relative;
  font-style: italic;
}

.nav-wrapper ul.nav-list li a:after {
  display: block;
  position: absolute;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--primary);
  content: '';
  transition: width 0.3s ease-out;
}

.nav-wrapper ul.nav-list li a:hover:after,
.nav-wrapper ul.nav-list li a:focus:after {
  width: 100%;
}

.nav-wrapper ul.nav-list li a:hover,
.nav-wrapper ul.nav-list li.active a {
  color: var(--primary);
  transition: color 0.3s ease-in-out;
}

.hamburger {
  display: none;
}

.stopscroll {
  overflow: hidden;
}

.mobile .hamburger {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  cursor: pointer;
}

.mobile .hamburger span {
  background: var(--pure);
  width: 28px;
  height: 2px;
  margin-bottom: 8px;
}

.mobile ul.nav-list {
  background: var(--dark);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 80px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease-in-out;
}

.hamburger,
.brand {
  z-index: 9999;
}

.mobile ul.nav-list.open {
  opacity: 1;
  pointer-events: auto;
}

.mobile .hamburger span {
  transform-origin: left;
  transition: all 0.3s ease-in-out;
}

.mobile ul.nav-list li a {
  font-size: 20px;
}

.mobile ul.nav-list li {
  margin-left: 0;
  text-align: center;
}

/* Страница портфолио */

main {
  background: var(--dark);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.75);
  clip-path: inset(0px 0px -15px 0px);
}

.header {
  display: grid;
  grid-template-columns: 60% 1fr;
  gap: 40px;
  align-items: center;
  padding: 30px 0;
  border-bottom: 2px solid var(--pure);
}

@media (max-width: 749px) {
  .header {
    display: flex;
    flex-direction: column;
  }
}

.header__title {
  font-weight: bold;
  font-size: 94px;
  text-indent: -6px;
}

@media (max-width: 588px) {
  .header__title {
    font-size: 15vw;
  }
}

.header__subtitle {
  text-align: right;
  padding-top: 19px;
  line-height: 24px;
  letter-spacing: 0.72px;
}

@media (max-width: 749px) {
  .header__subtitle {
    text-align: center;
    padding-top: 0;
  }
}

/* portfolio card */

.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 550px;
  z-index: 1;
}

@media (max-width: 1278px) {
  .wrap {
    height: 110vh;
  }
}

@media (max-width: 810px) {
  .wrap {
    height: 100%;
  }
}

.portfolio {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 100px 50px;
  padding: 100px 0px;
  z-index: 1;
}

@media (max-width: 1278px) {
  .portfolio {
    justify-content: center;
    gap: 100px 100px;
  }
}

@media (max-width: 889px) {
  .portfolio {
    gap: 100px 30px;
  }
}

.portfolio .card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 350px;
  max-width: 100%;
  height: 300px;
  /* background: white; */
  border-radius: 20px;
  border: 3px solid var(--primary);
  transition: 0.5s;
}

.portfolio .card:hover {
  height: 350px;
  background: var(--primary);
}

.portfolio .card .img-box {
  position: absolute;
  top: 20px;
  width: 300px;
  height: 220px;
  background: #333;
  border-radius: 12px;
  overflow: hidden;
  transition: 0.5s;
}

.portfolio .card:hover .img-box {
  top: -100px;
  scale: 0.75;
  box-shadow: 0 15px 45px rgba(0, 0, 0, 0.2);
}

.portfolio .card .img-box img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.portfolio .card .content {
  position: absolute;
  top: 252px;
  width: 100%;
  height: 35px;
  padding: 0 30px;
  text-align: center;
  overflow: hidden;
  transition: 0.5s;
}

.portfolio .card:hover .content {
  top: 130px;
  height: 200px;
}

.portfolio .card .content h2 {
  font-size: 1.3rem;
  font-weight: 700;
  color: var(--pure);
  font-style: italic;
}

.portfolio .card .content p {
  color: var(--pure);
  padding-top: 20px;
}

.portfolio .card .content a {
  position: relative;
  top: 15px;
  display: inline-block;
  padding: 12px 25px;
  text-decoration: none;
  background: var(--pure);
  color: white;
  font-weight: 500;
}

.portfolio .card .content .content__btn {
  display: grid;
  grid-template-columns: 1fr 70%;
  gap: 20px;
}

.portfolio .card .content .card__github {
  width: 50px;
  height: 50px;
  border-radius: 30px;
}

.portfolio .card .content .card__github svg {
  fill: var(--dark);
}

.portfolio .card .content .card__look {
  height: 50px;
  border-radius: 30px;
  color: var(--black);
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.portfolio .card .content a:hover {
  opacity: 0.8;
}

@media (max-width: 480px) {
  .portfolio .card {
    width: 350px;
    border-radius: 15px;
  }

  .portfolio .card .img-box {
    width: 300px;
    border-radius: 10px;
  }

  .portfolio .card .content p {
    font-size: 0.8rem;
  }

  .portfolio .card .content a {
    font-size: 0.9rem;
  }
}

/* footer */

footer {
  background: var(--primary);
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer__text {
  padding: 30px;
}
