.portfolio {
  position: relative;
  z-index: 1;
}

.portfolio__title {
  padding-bottom: 30px;
  font-weight: bold;
  font-size: 94px;
  text-indent: -6px;
  border-bottom: 2px solid $white;

  @include mediaTablet {
    font-size: 15vw;
    text-indent: -7px;
  }

  @include mediaPhone {
    text-indent: -7px;
  }
}

.portfolio__cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 90px;
  padding: 90px 0px;
  z-index: 1;
  min-height: 80vh;
}
